body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url('images/SR-Crown-Hall-Ludwig-Mies-van-der-Rohe.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Miller Banner Light', sans-serif;
}

@font-face {
    font-family:'Miller Banner Light';
    src: url('miller-banner-light.ttf')
}

.rain{
 height: 100vh;
 background-image:url('images/purple-rain.png');
 animation: rain .7s linear infinite;
 z-index: -.5;
}

@keyframes rain
{
 0% {
  background-position: 0% 0%;
 }
 50% {
  background-position: 10% 50%;
 }
 100%{
  background-position: 20% 100%;
 }
}

.clover-image{
  width: auto;
  height: 50px;
  opacity: .6;
  /*transform: rotate(315deg);*/
  position: absolute;
  transition: 1s;
  -webkit-animation: rotatingClovers 1s linear infinite;
  infinite linear;
}

@-webkit-keyframes rotatingClovers {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(45deg);
    }
    40% {
        -webkit-transform: rotate(-90deg);
    }
    60% {
        -webkit-transform: rotate(22.5deg);
    }
    80% {
        -webkit-transform: rotate(-112.5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

/*original rotation keyframe sourced from: https://codepen.io/vitoralberto/pen/OPYyYB*/

.scorecard{
  color: white;
  position: absolute;
  bottom: 10px;
  right: 75px;
}

h2{
  color: white;
  position: absolute;
  top: 10px;
  right: 50px;
}

.hsForm{
  /*font-family: Helvetica, Arial, sans-serif;*/
  background: black;
  margin: auto;
  padding: 0px 50px 75px 50px;
  color: white;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  height: 200px;
  width: 280px;
  z-index: 1;
  align: center;
  animation: fromRight 3s;
}

@keyframes fromRight {
  from {right: -2000px;}
}
